* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc {
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 10px;

  width: 400px;
  height: 500px;
}

.calc__inner {
  display: flex;
  flex-direction: column;

  padding: 20px;

  height: 100%;
}

.calc__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  flex-grow: 1;

  width: 100%;
}

.calc__top-current {
  width: 100%;
  height: 60%;
}

.calc__top-current input {
  width: 100%;
  height: 100%;

  text-align: right;

  border: none;
}

.calc__top-current input:focus {
  outline: none;
}

.calc__abilities {
  display: flex;
  flex-grow: 1;

  list-style-type: none;
}

.calc__abilities-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  width: 100%;
}

.calc__abilities-item button {
  width: 100%;
  height: 100%;

  cursor: pointer;
}
